<section class="breadcrumb_area" style="background-image: url('assets/img/breadcrumb/contact-image.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Kişisel Verilerin Korunması Kanunu</h1>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-0">
        <p>​İzmir Eğitim Kurumları olarak kurulduğumuz günden beri büyük önem verdiğimiz Kişisel Verilerin Korunması ile
          ilgili olarak
          çalışmalarımızı, "Kişisel Verilerin Korunması Kanunu (KVKK)" ile paralel bir yaklaşımla yürütmeye devam
          ediyoruz. Bu kapsamda hem kanunda ifade edilen bazı terimler hem de yükümlülüklerimizi yerine getirmek üzere
          veri işleme süreçlerimiz hakkında bilgilendirmeler aşağıda sunulmuştur.</p>
        <h2>KVKK Nedir?</h2>
        <p>Kişisel Verilerin Korunması Kanunu (KVKK) 24.03.2016 'da Türkiye Büyük Millet Meclisi'nde kabul edilmiş ve
          07.04.2016 tarihli ve 29677 sayılı Resmi Gazete'de yayınlanarak yürürlüğe girmiştir.</p>
        <p>Kanun, kişisel verilerin gizliliğinin sağlanması, korunması ve izinsiz kullanımının önüne geçilmesi gibi
          temel amaçlar çerçevesinde tüm veri işleyen kişi ve kurumların uyumluluğunu esas almıştır. İzmir Eğitim Kurumları, tüm
          kuruluşlar gibi bu Kanuna uymakla yükümlüdür ve tüm süreçlerinde işlenen kişisel veriler bu
          kapsamdadır.</p>
        <h2>Kişisel Veri Nedir?</h2>
        <p>Kişiyi doğrudan veya dolaylı olarak belirlenebilir kılan tüm veriler veya veri kümeleri kişisel veri olarak
          kabul edilir. İsim, soy isim, doğum yeri/tarihi, telefon numarası, özgeçmiş, fotoğraf, ses kaydı gibi direkt
          kişiye ait veya kişi adına oluşturulmuş tanımlayıcı bilgiler örnek olarak verilebilir.</p>

        <h2>Veri İşleme Nedir?</h2>
        <p>Kişisel veriler üzerinde gerçekleştirilen her türlü işlem "veri işleme" olarak kabul edilmektedir.
          Dolayısıyla, verilerin arşivlenmesi, saklanması, değiştirilmesi, yeniden düzenlenmesi, açıklanması,
          aktarılması, analiz edilmesi ve sınıflandırılması veri işleme kapsamına girer.</p>
        <h2>İlgili Kişi / Veri Sahibi Kimdir?</h2>
        <p>Kanunda ve kurumsal politikalarımızda sıkça geçen ifadelerden biri "ilgili kişi" ya da "veri sahibi"dir.
          Kişisel verisi işlenen gerçek kişileri ifade eder.</p>
        <h2>Veri Sorumlusu Kimdir?</h2>
        <p>Veri sorumlusu, kişisel verilerin işleme amaçlarını ve yöntemlerini belirleyen, veri kayıt sisteminin
          kurulmasından ve yönetilmesinden sorumlu olan gerçek veya tüzel kişidir. Bu noktada müşterilerimiz,
          ziyaretçilerimiz ve çalışanlarımızın verileri bakımından Veri Sorumlusu olmaktadır.</p>
        <h2>Veri İşleyen Kimdir?</h2>
        <p>Veri işleyen, veri sorumlusu adına verileri işleyen gerçek veya tüzel kişilerdir. Bu kişiler, veri
          sorumlusunun kişisel veri işlemek üzere yetkilendirdiği ayrı bir gerçek veya tüzel kişi de olabilir.</p>
        <h2>Veri İşleme Şartları</h2>
        <p>Tüm veri sorumluları ancak aşağıdaki şartlar oluştuğunda veya ilgili kişi açık rıza verdiğinde veri işleme
          hakkına sahiptir:
        </p>
        <ul class="ul2">
          <li>Kanunlarda açıkça öngörülmesi<br></li>
          <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması,<br></li>
          <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi,<br></li>
          <li>İlgili kişinin kendisi tarafından alenileştirilmiş olması,<br></li>
          <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,<br></li>
          <li>Veri sorumlusunun meşru menfaati.<br></li>
        </ul>
        <h2>Veri Sahibi Taleplerinin Karşılanması
        </h2>
        <p>KVKK, ilgili kişilere hangi kişisel verilerinin hangi süreçlerde işlendiğine ve bu verilerin mevcut
          durumlarına ilişkin talepte bulunma hakkı vermektedir. İzmir Eğitim Kurumları olarak biz de veri sahiplerinden gelen talepleri
          30 gün içerisinde cevaplamakla yükümlüyüz.</p>
        <p>6698 sayılı Kişisel Verilerin Korunması Kanunu'nun "Veri Sorumlusuna Başvuru"yu  düzenleyen 13. maddesi uyarınca, ilgili kişi/veri sahibinin Kanun'un uygulanmasına ilişkin taleplerini yazılı olarak veri sorumlusuna iletmesi gerekmektedir.</p>
        <p>Veri sorumlusu olan veya veri işleyen kurum ve kişiler, Kanun tarafından, işledikleri kişisel veriler hakkında veri sahiplerini aydınlatmakla yükümlü kılınmıştır. </p>
        <p>En son güncellendiği tarih: 20/02/2021.</p>
      </div>
    </div>
  </div>
</section>
<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="footer_bg" lazy-load-images>
      <div class="footer_bg_one">
        <img [attr.data-src]="'assets/img/seo/car.png'" alt="car">
      </div>
      <div class="footer_bg_two">
        <img [attr.data-src]="'assets/img/seo/bike.png'" alt="bike">
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2021 Tüm hakları saklıdır.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="f_social_icon text-center">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/izmiregitimkurumlari"
              class="fa fa-facebook"></a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/IzmEKurumlari" class="fa fa-twitter"></a>
            <a target="_blank" rel="nofollow" href="https://www.instagram.com/izmiregitimkurumlari_"
              class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 text-right" lazy-load-images>
          <p><a routerLink="/"><img [attr.data-src]="'assets/img/izmir-egitim-kurumlari.png'" alt="logo"
                class="app-logo footer-logo"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-6 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a routerLink="/cerez-politikasi">Çerez Politikası</a></li>
            <li><a routerLink="/kisisel-verilerin-korunmasi-kanunu">Kişisel Verilerin Korunması</a></li>
            <li><a routerLink="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
            <li><a routerLink="/ki̇si̇sel-veri̇leri̇n-islenmesi̇ne-ili̇ski̇n-aydınlatma-metni̇">Ki̇şi̇sel Veri̇leri̇n
                İşlenmesi̇ne İli̇şki̇n Aydınlatma
                Metni̇</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>