<div *ngIf="!educationDetailModel">
  <section style="background: #fbfbfd;">
    <div class="container">
      <div class="breadcrumb-area">
        <div class="row" style="width: 100%;">
          <div class="col-12">
            <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '15px' }">
            </ngx-skeleton-loader>
          </div>
          <div class="col-12">
            <ngx-skeleton-loader [theme]="{ width: '60%', 'border-radius': '0px', height: '15px' }">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="mobile-breadcrumb-area">
        <div class="breadcrumb">
          <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
          </ngx-skeleton-loader>
        </div>
        <h1>
          <ngx-skeleton-loader [theme]="{ width: '90%', 'border-radius': '0px', height: '10px' }">
          </ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
          </ngx-skeleton-loader>
        </h1>
      </div>
    </div>
  </section>
  <section class="education_details_area">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 lg-pr">
          <div id="images">
            <ngx-skeleton-loader [theme]="{ width: '100%', 'border-radius': '3px', height: '255px' }">
            </ngx-skeleton-loader>
          </div>
          <div class="details_content" id="education-about" style="margin-top: -5px;">
            <div class="mb_20">
              <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '15px' }">
                </ngx-skeleton-loader>
              </h3>
              <hr />
              <p class="f_400 l_height26">
                <ngx-skeleton-loader [theme]="{ width: '95%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '90%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '95%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '93%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '97%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '92%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '89%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '96%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '95%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '90%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '95%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '93%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '97%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '92%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '89%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ width: '96%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
          <div class="job_info">
            <div class="info_item">
              <i class="fa fa-map-marker"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <p>
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-home"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <p>
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-phone"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <p>
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>

            </div>
            <div class="info_item">
              <i class="fa fa-envelope"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <p>
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-globe"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <p>
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-hashtag"></i>
              <h6>
                <ngx-skeleton-loader [theme]="{ width: '50%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </h6>
              <div class="social">
                <ngx-skeleton-loader [theme]="{ width: '80%', 'border-radius': '0px', height: '10px' }">
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="educationDetailModel">
  <section [style.background]="color">
    <div class="container">
      <div class="breadcrumb-area">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="item"><a href="/">Anasayfa</a></li>
              <li class="item"><a
                routerLink="/{{educationDetailModel.generalInformation.categorySeoUrl}}">{{educationDetailModel.generalInformation.categoryName}}</a>
              </li>
              <li class="item"><a [queryParams]="{ilce: educationDetailModel.addressInformation.districSeoUrl}"
                  routerLink="/{{educationDetailModel.generalInformation.categorySeoUrl}}">{{educationDetailModel.addressInformation.districtName}}</a>
              </li>
              <li class="item">{{educationDetailModel.generalInformation.educationName}}
              </li>
            </ol>
          </div>
          <div class="col-12">
            <h1>{{educationDetailModel.generalInformation.educationName}}<img src="assets/img/tick.png"
                class="tick-image">
            </h1>
          </div>
        </div>
      </div>
      <div class="mobile-breadcrumb-area">
        <div class="breadcrumb">
          <ol>
            <li class="item"><a href="/">Anasayfa</a></li>
            <li class="item"><a
              routerLink="/{{educationDetailModel.generalInformation.categorySeoUrl}}">{{educationDetailModel.generalInformation.categoryName}}</a>
            </li>
            <li class="item"><a [queryParams]="{ilce: educationDetailModel.addressInformation.districSeoUrl}"
                routerLink="/{{educationDetailModel.generalInformation.categorySeoUrl}}">{{educationDetailModel.addressInformation.districtName}}</a>
            </li>
            <li class="item active"><span>{{educationDetailModel.generalInformation.educationName}}</span>
            </li>
          </ol>
        </div>
        <h1>{{educationDetailModel.generalInformation.educationName}}<img src="assets/img/tick.png" class="tick-image">
        </h1>
      </div>
    </div>
  </section>
  <section class="education_details_area">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 lg-pr">
          <div id="images">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </div>
          <div class="details_content" id="education-about">
            <div class="mb_20">
              <h3 class="f_p f_size_22 f_500 t_color3 mb_20">{{educationDetailModel.generalInformation.educationName}}
                Hakkında
              </h3>
              <hr />
              <p oncopy="return false;" class="f_400 l_height26"
                [innerHTML]="educationDetailModel.generalInformation.description"></p>
              <div class="f_widget social-widget text-right">
                <h3><strong>Hemen Paylaş!</strong></h3>
                <share-buttons [include]="['facebook','twitter','telegram','messenger','whatsapp','email']">
                </share-buttons>
              </div>
            </div>
          </div>
          <div *ngIf="educationDetailModel.categoryAttributeList.length>0" class="details_content"
            id="education-facilities">
            <div class="mb_20" *ngFor="let attribute of educationDetailModel.categoryAttributeList">
              <h3 class="f_p f_size_22 f_500 t_color3 mb_20">{{attribute.categoryName}}</h3>
              <ul class="list-unstyled mb-0">
                <li *ngFor="let attribute of attribute.attributeListModel"><i class="fa fa-check"></i>{{attribute.name}}
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="youtubeOneId" class="iframe-container">
            <youtube-player videoId="{{youtubeOneId}}"></youtube-player>
          </div>
          <div *ngIf="educationDetailModel.questions.length>0" class="details_content" id="frequently-asked-questions">
            <h3 class="f_p f_size_22 f_500 t_color3 mb-30">Sıkça Sorulan Sorular</h3>
            <div class="stratup_service_info">
              <div class="startup_service_item" *ngFor="let questionModel of educationDetailModel.questions">
                <div class="icon"><i class="fa fa-question"></i></div>
                <h3>{{questionModel.question}}</h3>
                <p>{{questionModel.answer}}</p>
              </div>
            </div>
          </div>
          <div class="iframe-container" *ngIf="mapCode"
            [innerHTML]="mapCode">
          </div>
          <div *ngIf="youtubeTwoId" class="iframe-container">
            <youtube-player videoId="{{youtubeTwoId}}"></youtube-player>
          </div>
          <div *ngIf="educationDetailModel.blogList.length>0" class="details_content" id="blog_list">
            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Blog</h3>
            <div class="row">
              <div class="col-lg-4 col-sm-6" *ngFor="let blog of educationDetailModel.blogList">
                <div class="blog_grid_item mb-30">
                  <div class="blog_img">
                    <a routerLink="/blog/{{blog.seoUrl}}"><img src="{{environment.apiUrl}}/images/blog/{{blog.firstVisibleImageName}}_300x180.jpg" alt="{{blog.title}}"
                        title="{{blog.title}}"></a>
                  </div>
                  <div class="blog_content">
                    <div class="entry_post_info">
                      <a routerLink="/bloglar/{{blog.userName}}">{{blog.userName}}</a>
                      <span>{{blog.createTime}}</span>
                    </div>
                    <a routerLink="/blog/{{blog.seoUrl}}">
                      <h3 class="f_p f_size_16 f_500 t_color mb_20">{{blog.title}}</h3>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <a routerLink="/bloglar/{{educationDetailModel.blogList[0].userName}}" class="learn_btn_two">Diğer ilgili
                  bloglara göz at<i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
          <div class="job_info">
            <div class="info_item">
              <i class="fa fa-map-marker"></i>
              <h6>İl / İlçe</h6>
              <p>{{educationDetailModel.addressInformation.cityName}} /
                {{educationDetailModel.addressInformation.districtName}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-home"></i>
              <h6>Adres</h6>
              <p>{{educationDetailModel.addressInformation.address}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-phone"></i>
              <h6>Telefon</h6>
              <p>0 {{educationDetailModel.contactInformation.phoneOne | mask: '000 000 00 00'}}</p>
              <p>0 {{educationDetailModel.contactInformation.phoneTwo | mask: '000 000 00 00'}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-envelope"></i>
              <h6>Email</h6>
              <p>{{educationDetailModel.contactInformation.educationEmail}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-globe"></i>
              <h6>Kurumsal Web Sitesi</h6>
              <p>
                <a target="_blank" rel="nofollow"
                  href="{{educationDetailModel.contactInformation.educationWebsite}}">Siteye Git</a>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-hashtag"></i>
              <h6>Sosyal Medya Hesapları</h6>
              <div class="social">
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.twitterAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.twitterAccountUrl}}" class="icon-button twitter"><i
                    class="fa fa-twitter"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.facebookAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.facebookAccountUrl}}" class="icon-button facebook"><i
                    class="fa fa-facebook"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.youtubeAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.youtubeAccountUrl}}" class="icon-button youtube"><i
                    class="fa fa-youtube"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.instagramAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.instagramAccountUrl}}" class="icon-button instagram"><i
                    class="fa fa-instagram"></i><span></span></a>
              </div>
            </div>
          </div>
          <div class="contact-form">
            <h6>Hemen Sizi Arayalım</h6>
            <p>Fiyat bilgileri, erken kayıt avantajları, randevu talepleri ve sorularınız için formu ücretsiz doldurun.
              Eğitim kurumu sizi hemen arasın.</p>
            <div class="contact-form-input" *ngIf="contactFormDiv">
              <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()">
                <div class="form-group text_box">
                  <label for="nameSurname">Ad Soyad</label>
                  <input type="text" formControlName="nameSurname" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('nameSurname').errors != null ? contactForm.get('nameSurname').errors.required:false">
                    Lütfen Ad Soyad giriniz.
                  </span>
                </div>
                <div class="form-group text_box">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="text" formControlName="email" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.required:false">
                    Lütfen Email adresi giriniz.
                  </span>
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.email:false">
                    Lütfen geçerli Email adresi giriniz.
                  </span>
                </div>
                <div class="form-group text_box">
                  <label for="exampleInputEmail1">Telefon</label>
                  <input type="text" formControlName="phoneNumber" mask="(000) 000 00 00" [validation]="true" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors.required:false">
                    Lütfen Telefon numarası giriniz.
                  </span>
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors['Mask error']:false">
                    Lütfen geçerli bir Telefon numarası giriniz.
                  </span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn_three sign_btn_transparent mt_c20">İletişime Geç</button>
                </div>
              </form>
            </div>
            <div class="contact-from-success" *ngIf="contactFormSuccessMessage">
              <div class="box_alert media box_success">
                <div class="icon"><i class="icon-check"></i></div>
                <div class="media-body">
                  <h5>Bilgileriniz Gönderildi.</h5>
                  <p>En yakın zamanda dönüş yapılacaktır. Teşekkürler</p>
                </div>
                <div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="bottomNav z-1 text-blue">
    <button data-toggle="modal" data-target="#generalInformation" class="wave" nav-id="1">
      <i class="fa fa-bookmark"></i>
      <span>Genel Bilgiler</span>
    </button>
    <button class="ripple" data-toggle="modal" data-target="#contactInformation" nav-id="2">
      <i class="fa fa-envelope"></i>
      <span>İletişime Geç</span>
    </button>
    <button class="wave" nav-id="3">
      <i class="fa fa-phone"></i>
      <span><a *ngIf="educationDetailModel" href="tel:0{{educationDetailModel.contactInformation.phoneOne}}">Hemen
          Ara</a></span>
    </button>
  </nav>

  <!-- Modal -->
  <div class="modal" id="generalInformation" tabindex="-1" role="dialog" aria-labelledby="generalInformationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Genel Bilgiler</h2>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div *ngIf="educationDetailModel" class="job_info">
            <div class="info_item">
              <i class="fa fa-map-marker"></i>
              <h6>İl / İlçe</h6>
              <p>{{educationDetailModel.addressInformation.cityName}} /
                {{educationDetailModel.addressInformation.districtName}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-home"></i>
              <h6>Adres</h6>
              <p>{{educationDetailModel.addressInformation.address}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-phone"></i>
              <h6>Telefon</h6>
              <p>0 {{educationDetailModel.contactInformation.phoneOne | mask: '000 000 00 00'}}</p>
              <p>0 {{educationDetailModel.contactInformation.phoneTwo | mask: '000 000 00 00'}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-envelope"></i>
              <h6>Email</h6>
              <p>{{educationDetailModel.contactInformation.educationEmail}}</p>
            </div>
            <div class="info_item">
              <i class="fa fa-globe"></i>
              <h6>Kurumsal Web Sitesi</h6>
              <p>
                <a target="_blank" rel="nofollow"
                  href="{{educationDetailModel.contactInformation.educationWebsite}}">Siteye Git</a>
              </p>
            </div>
            <div class="info_item">
              <i class="fa fa-hashtag"></i>
              <h6>Sosyal Medya Hesapları</h6>
              <div class="social">
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.twitterAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.twitterAccountUrl}}" class="icon-button twitter"><i
                    class="fa fa-twitter"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.facebookAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.facebookAccountUrl}}" class="icon-button facebook"><i
                    class="fa fa-facebook"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.youtubeAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.youtubeAccountUrl}}" class="icon-button youtube"><i
                    class="fa fa-youtube"></i><span></span></a>
                <a target="_blank" rel="nofollow"
                  *ngIf="educationDetailModel.socialInformation.instagramAccountUrl != '' "
                  href="{{educationDetailModel.socialInformation.instagramAccountUrl}}" class="icon-button instagram"><i
                    class="fa fa-instagram"></i><span></span></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal" id="contactInformation" tabindex="-1" role="dialog" aria-labelledby="contactInformationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Hemen Sizi Arayalım</h2>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="contact-form">
            <p>Fiyat bilgileri, erken kayıt avantajları, randevu talepleri ve sorularınız için formu ücretsiz doldurun.
              Eğitim kurumu sizi hemen arasın.</p>
            <div class="contact-form-input" *ngIf="contactFormDiv">
              <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()">
                <div class="form-group text_box">
                  <label for="nameSurname">Ad Soyad</label>
                  <input type="text" formControlName="nameSurname" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('nameSurname').errors != null ? contactForm.get('nameSurname').errors.required:false">
                    Lütfen Ad Soyad giriniz.
                  </span>
                </div>
                <div class="form-group text_box">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="text" formControlName="email" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.required:false">
                    Lütfen Email adresi giriniz.
                  </span>
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.email:false">
                    Lütfen geçerli Email adresi giriniz.
                  </span>
                </div>
                <div class="form-group text_box">
                  <label for="exampleInputEmail1">Telefon</label>
                  <input type="text" formControlName="phoneNumber" mask="(000) 000 00 00" [validation]="true" />
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors.required:false">
                    Lütfen Telefon numarası giriniz.
                  </span>
                  <span class="not-valid"
                    *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors['Mask error']:false">
                    Lütfen geçerli bir Telefon numarası giriniz.
                  </span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn_three sign_btn_transparent mt_c20">İletişime Geç</button>
                </div>
              </form>
            </div>
            <div class="contact-from-success" *ngIf="contactFormSuccessMessage">
              <div class="box_alert media box_success">
                <div class="icon"><i class="icon-check"></i></div>
                <div class="media-body">
                  <h5>Bilgileriniz Gönderildi.</h5>
                  <p>En yakın zamanda dönüş yapılacaktır. Teşekkürler</p>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <a rel="nofollow" href="https://api.whatsapp.com/send?phone=90{{educationDetailModel.contactInformation.phoneTwo}}"
      class="whatsapp-chat" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
  </div>
  <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
      <div class="footer_bg" lazy-load-images>
        <div class="footer_bg_one">
          <img [attr.data-src]="'assets/img/seo/car.png'" alt="car">
        </div>
        <div class="footer_bg_two">
          <img [attr.data-src]="'assets/img/seo/bike.png'" alt="bike">
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-6">
            <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2021 Tüm hakları saklıdır.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="f_social_icon text-center">
              <a target="_blank" rel="nofollow" href="https://www.facebook.com/izmiregitimkurumlari"
                class="fa fa-facebook"></a>
              <a target="_blank" rel="nofollow" href="https://twitter.com/IzmEKurumlari" class="fa fa-twitter"></a>
              <a target="_blank" rel="nofollow" href="https://www.instagram.com/izmiregitimkurumlari_"
                class="fa fa-instagram"></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-5 text-right" lazy-load-images>
            <p><a routerLink="/"><img [attr.data-src]="'assets/img/izmir-egitim-kurumlari.png'" alt="logo"
                  class="app-logo footer-logo"></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-6 col-sm-12">
            <ul class="list-unstyled f_menu text-right">
              <li><a routerLink="/cerez-politikasi">Çerez Politikası</a></li>
              <li><a routerLink="/kisisel-verilerin-korunmasi-kanunu">Kişisel Verilerin Korunması</a></li>
              <li><a routerLink="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
              <li><a routerLink="/ki̇si̇sel-veri̇leri̇n-islenmesi̇ne-ili̇ski̇n-aydınlatma-metni̇">Ki̇şi̇sel Veri̇leri̇n
                  İşlenmesi̇ne İli̇şki̇n Aydınlatma
                  Metni̇</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>