<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Ki̇şi̇sel Veri̇leri̇n İşlenmesi̇ne İli̇şki̇n Aydınlatma
        Metni̇</h1>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-0">
        <h2>Giriş:</h2>
        <p>​Ergün Toprak (İzmir Eğitim Kurumları) olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu (Kanun)
          kapsamında sizlerin kişisel verilerini özenle işleyerek muhafaza edilmesine önem vermekteyiz. Bu bilinçle veri
          sorumlusu sıfatıyla, kişisel verilerinizi aşağıda açıklanan çerçevede işlemekteyiz.</p>
        <h2>Veri Sorumlusu:</h2>
        <p>Ergün Toprak (İzmir Eğitim Kurumları)</p>
        <h2>Kişisel Verilerin Elde Edilme Yöntemi:</h2>
        <p>Sizlere yüksek kalitede hizmet sunabilmek amacı ile kişisel verileriniz, verilen hizmetin niteliğine bağlı
          olarak Kayıt Merkezi, internet, mobil uygulamalar, fiziksel mekânlar ve benzeri kanallardan sözlü, yazılı,
          görsel, ya da elektronik olarak elde edilmekte, Kanun'un 5. ve 6. maddelerinde belirtildiği üzere
          işlenebilmektedir.</p>
        <h2>Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi:</h2>
        <p>Kişisel veriler, kullanıcılardan elektronik ortamda toplanmaktadır. Belirtilen hukuki sebeplerle toplanan
          kişisel veriler Kanun'un 5. ve 6. maddelerinde ve bu Aydınlatma Metninde belirtilen amaçlarla işlenebilmekte
          ve aktarılabilmektedir.</p>
        <h2>Kişisel Verilerin İşlenme Amacı:</h2>
        <p>Kullanıcılara ait kişisel veriler, İzmir Eğitim Kurumları tarafından sunulan ürün ve hizmetlerden ilgili
          kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin
          yürütülmesi, İzmir Eğitim Kurumları tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili
          iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, İzmir Eğitim
          Kurumları'nın ticari ve/veya iş stratejilerinin planlanması ve icrası, İzmir Eğitim Kurumları'nın ve iş
          ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile İzmir Eğitim
          Kurumları'nın sunduğu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına
          göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve
          icrası da dahil olmak üzere 6698 Sayılı Kanun'un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları
          ve amaçları çerçevesinde işlenmektedir.</p>
        <p>İzmir Eğitim Kurumları, Türk Kanunlarından kaynaklanan sebeplerle ve tarafınızca ya da tarafınız için talep
          edilen faaliyetlerimiz ile ilgili olarak işlenebilecek veya sizinle iletişim kurmak için toplanabilecek,
          kaydedilebilecek; talep ettiğiniz hizmet ve faaliyetlerin tamamlayıcısı olan iş ortaklarımız ve reklam
          verenlere gönderilebilecek, faaliyetlerimizin yürütülmesi veya iyileştirilebilmesi amacıyla sınırlı olarak,
          yurtiçinde veya yurtdışında hizmet aldığımız üçüncü kişilerle paylaşılabilecektir. Kişisel bilgileriniz;
          yalnızca size teklif sunulması, yeni ürün ve hizmetlerin sunulabilmesi için iletişime geçilmesi, satış ve
          pazarlama aktiviteleri, kimlik, adres ve gerekli diğer bilgilerin toplanması ve kaydedilmesi, elektronik ve
          kağıt ortamlarında işlemlere dayanak olacak belgelerin düzenlenmesi, mevzuat tarafından getirilen
          yükümlülükler kapsamında bilgilerin saklanması, raporlanması, bildirim yükümlülüklerine uyulması ve
          tarafınızca talep edilecek ürün ve hizmetlerin sunulması için gerekli sözleşmelerin akdedilmesi aşamasında
          kullanılmak suretiyle işleniyor olacaktır. Bu anlamda verileriniz T.C. sınırları dahilinde veya dışında;
          kişisel verilerin saklanması konusunda güvenli olan ülkelerde Bulut Platformları üzerinden işlenebilecektir.
        </p>
        <h2>Kişisel Verilerin Aktarımı:</h2>
        <p>Kullanıcılara ait kişisel veriler, İzmir Eğitim Kurumları tarafından sunulan ürün ve hizmetlerden ilgili
          kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin
          yürütülmesi, İzmir Eğitim Kurumları tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili
          iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, İzmir Eğitim
          Kurumları'nın ticari ve/veya iş stratejilerinin planlanması ve icrası, İzmir Eğitim Kurumları'nın ve iş
          ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile İzmir Eğitim
          Kurumları'nın sunduğu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına
          göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve
          icrası da dahil olmak üzere 6698 Kanun'un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve
          amaçları çerçevesinde şirket yetkilileri, iş ortaklarımız, kanunen yetkili kamu kurum ve kuruluşları ile özel
          kurumlar ile paylaşılabilecektir.</p>
        <h2>Kişisel Verilerin Saklanması Ve Korunması:</h2>
        <p>İzmir Eğitim Kurumları, kişisel verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK'nun 12. Maddesi
          gereği kişisel verilerin hukuka aykırı olarak işlenmesini önlemekle, yetkisiz kişilerin erişimlerini
          engellemekle; muhafazalarını sağlamak amacıyla hash, şifreleme, işlem kaydı, erişim yönetimi gibi yazılımsal
          tedbirleri ve fiziksel güvenlik önlemleri almakla mükelleftir. Kişisel verilerin yasal olmayan yollarla
          başkaları tarafından elde edilmesinin öğrenilmesi halinde durum derhal, yasal düzenlemeye uygun ve yazılı
          olarak Kişisel Verileri Koruma Kurulu'na bildirilecektir.
        </p>
        <h2>Kişisel Verilerin Güncel Ve Doğru Tutulması:</h2>
        <p>KVKK'nun 4. maddesi uyarınca İzmir Eğitim Kurumları kişisel verilerinizi doğru ve güncel olarak tutma
          yükümlülüğü bulunmaktadır. Bu kapsamda İzmir Eğitim Kurumları yürürlükteki mevzuattan doğan yükümlülüklerini
          yerine getirebilmesi için üyelerimizin doğru ve güncel verilerini paylaşması veya web sitesi üzerinden
          güncellemesi gerekmektedir.</p>
        <h2>Kullanıcıların Konuya İlişkin Rızası:</h2>
        <p>6698 sayılı Kanun'un 5. Maddesinin 2. fıkrasında sayılan hallerde kişisel verilerin kullanıcıların açık
          rızası aranmaksızın işlenmesi mümkündür. Buna göre,</p>
        <p>a) Kanunlarda açıkça öngörülmesi.</p>
        <p>b) Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik
          tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu
          olması.</p>
        <p>c) Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına
          ait kişisel verilerin işlenmesinin gerekli olması.</p>
        <p>ç) Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması. d) İlgili kişinin kendisi
          tarafından alenileştirilmiş olması.</p>
        <p>e) Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması.</p>
        <p>f) İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri
          için veri işlenmesinin zorunlu olması durumlarında kullanıcılardan açık rıza alınmasına gerek bulunmamaktadır.
          Kullanıcıların İzmir Eğitim Kurumları üyelik sözleşmesi kapsamında alacakları hizmet 6698 sayılı Kanunun 5.
          maddesinin 2/c fıkrası kapsamında yer almaktadır.</p>
        <h2>Kişisel Veri Sahibi Olarak Kullanıcıların Hakları:</h2>
        <p>6698 sayılı Kanun'un 11. maddesi uyarınca veri sahipleri;</p>
        <ul class="ul2">
          <li>Kendileri ile ilgili kişisel veri işlenip işlenmediğini öğrenme,</li>
          <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
          <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
          <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
          <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda
            yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
          <li>Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren
            sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda
            yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
          <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi
            aleyhine bir sonucun ortaya çıkmasına itiraz etme ve
            kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini
            talep etme haklarına sahiptir.
          </li>
        </ul>
        <p>Söz konusu hakların kullanımına ilişkin talepler, kişisel veri sahipleri tarafından iletişim bilgilerimiz
          aracılığıyla İzmir Eğitim Kurumları'na bildirilebilir. İzmir Eğitim Kurumları, konuya ilişkin taleplerinizi
          değerlendirerek 30 gün içerisinde sonuçlandıracaktır.</p>
        <h2>Veri sahiplerinin talep hakkı bulunmayan haller:</h2>
        <p>Kişisel veri işlemenin suç işlenmesinin önlenmesi veya suç soruşturması için gerekli olması,</p>
        <p>İlgili kişinin kendisi tarafından alenileştirilmiş kişisel verilerin işlenmesi,</p>
        <p>Kişisel veri işlemenin kanunun verdiği yetkiye dayanılarak görevli ve yetkili kamu kurum ve kuruluşları ile
          kamu kurumu niteliğindeki meslek kuruluşlarınca, denetleme veya düzenleme görevlerinin yürütülmesi ile
          disiplin soruşturma veya kovuşturması için gerekli olması,</p>
        <p>Kişisel veri işlemenin bütçe, vergi ve mali konulara ilişkin olarak Devletin ekonomik ve mali çıkarlarının
          korunması için gerekli olması.</p>
        <h2>Veri sahiplerinin talepleri işleme alınmayacak haller:</h2>
        <p>Kişisel verilerin, üçüncü kişilere verilmemek ve veri güvenliğine ilişkin yükümlülüklere uyulmak kaydıyla
          gerçek kişiler tarafından tamamen kendisiyle veya aynı konutta yaşayan aile fertleriyle ilgili faaliyetler
          kapsamında işlenmesi,</p>
        <p>Kişisel verilerin resmi istatistik ile anonim hâle getirilmek suretiyle araştırma, planlama ve istatistik
          gibi amaçlarla işlenmesi,</p>
        <p>Kişisel verilerin millî savunmayı, millî güvenliği, kamu güvenliğini, kamu düzenini, ekonomik güvenliği, özel
          hayatın gizliliğini veya kişilik haklarını ihlal etmemek ya da suç teşkil etmemek kaydıyla, sanat, tarih,
          edebiyat veya bilimsel amaçlarla ya da ifade özgürlüğü kapsamında işlenmesi,</p>
        <p>Kişisel verilerin millî savunmayı, millî güvenliği, kamu güvenliğini, kamu düzenini veya ekonomik güvenliği
          sağlamaya yönelik olarak kanunla görev ve yetki verilmiş kamu kurum ve kuruluşları tarafından yürütülen
          önleyici, koruyucu ve istihbari faaliyetler kapsamında işlenmesi,</p>
        <p>Kişisel verilerin soruşturma, kovuşturma, yargılama veya infaz işlemlerine ilişkin olarak yargı makamları
          veya infaz mercileri tarafından işlenmesi.</p>
        <h2>İletişim ve Başvuru Yöntemi:</h2>
        <p>İzmir Eğitim Kurumları, yasal altyapı sağlandığında Veri Sorumluları Sicilinde ve bu belgenin bulunduğu
          internet adresinde ilan edilecektir.</p>
        <p>Kişisel Veri Sahipleri, sorularını, görüşlerini veya taleplerini info@izmiregitimkurumlari.com e-posta
          adresine yöneltebilirler.</p>
        <p>İzmir Eğitim Kurumları'na iletilen taleplere, gerekçeli olmak ve 30 gün içinde cevap vermek kaydıyla
          olumlu/olumsuz yanıtını, yazılı veya dijital ortamdan verebilir. Taleplere ilişkin gerekli işlemlerin ücretsiz
          olması esastır. Ancak işlemlerin bir maliyet gerektirmesi halinde, İzmir Eğitim Kurumları, ücret talebinde
          bulunma hakkını saklı tutar. Bu ücretler, Kişisel Verilerin Korunması Kurulu tarafından, Kişisel Verilerin
          korunması Kanunu'nun 13. maddesine göre belirlenen tarife üzerinden belirlenir.</p>
        <p>Web sayfamızda, uygulamalarımızda ve diğer sair kanallarımızda kişisel verilerinizi paylaşarak Kişisel
          Veriler Politikamızı ve politikamızda yer alan işlenme, işlenme yöntemleri, verilerin aktarılması, satışı ve
          diğer ilgili hususlar hakkındaki şartları, Bir sosyal medya uygulaması olan ornekalanadi.com ile paylaşılan
          verilerin web sayfasında, uygulamalarda ve sosyal medya kanallarında kullanılmasını, bildirimlerde ve
          önerilerde bulunulmasını, üyelerin yararına olması şartıyla ticari anlamda üçüncü kişilerle
          paylaşılabileceğini ve yine bunun için kabulde bulunduğunuzu, yasal haklarınızı kullanmadan önce İzmir Eğitim
          Kurumları'na başvuruda bulunacağınızı KVKK'da büyük öneme haiz, belirli bir konuya ilişkin, bilgilendirilmeye
          dayanan ve özgür iradeyle açıklanan rıza şeklinde tanımlanan açık bir rıza ile kabul ettiğinizi beyan etmiş
          olursunuz.</p>
          <p>Bu sözleşme en son 14/02/2021 tarihinde güncellenmiştir.</p>
      </div>
    </div>
  </div>
</section>