<section class="error_two_area">
  <div class="container flex">
      <div class="error_content_two text-center">
          <img src="assets/img/new/error.png" alt="404">
          <h2>Aradığınız sayfayı bulamıyoruz.</h2>
          <p>Ulaşmaya çalıştığınız sayfayı bulamadık! Lütfen ulaşmak istediğiniz sayfanın adresini doğru yazdığınızı kontrol edin. Eğer adresi doğru yazdığınızdan eminseniz ulaşmak istediğiniz sayfa kaldırılmış olabilir... </p>
          <a href="/" class="about_btn btn_hover">Ana Sayfaya Geri Dön<i class="arrow_right"></i></a>
      </div> 
  </div>
</section>