<section class="error_two_area">
  <div class="container flex">
      <div class="error_content_two text-center">
          <img src="assets/img/new/error.png" alt="404">
          <h2>Aradığınız sayfayı bulamıyoruz.</h2>
          <p>Ulaşmaya çalıştığınız sayfayı bulamadık! Lütfen ulaşmak istediğiniz sayfanın adresini doğru yazdığınızı kontrol edin. Eğer adresi doğru yazdığınızdan eminseniz ulaşmak istediğiniz sayfa kaldırılmış olabilir... </p>
          <a routerLink="/" class="about_btn btn_hover">Ana Sayfaya Geri Dön<i class="arrow_right"></i></a>
      </div> 
  </div>
</section>
<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="footer_bg" lazy-load-images>
      <div class="footer_bg_one">
        <img [attr.data-src]="'assets/img/seo/car.png'" alt="car">
      </div>
      <div class="footer_bg_two">
        <img [attr.data-src]="'assets/img/seo/bike.png'" alt="bike">
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2021 Tüm hakları saklıdır.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="f_social_icon text-center">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/izmiregitimkurumlari"
              class="fa fa-facebook"></a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/IzmEKurumlari" class="fa fa-twitter"></a>
            <a target="_blank" rel="nofollow" href="https://www.instagram.com/izmiregitimkurumlari_"
              class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 text-right" lazy-load-images>
          <p><a routerLink="/"><img [attr.data-src]="'assets/img/izmir-egitim-kurumlari.png'" alt="logo"
                class="app-logo footer-logo"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-6 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a routerLink="/cerez-politikasi">Çerez Politikası</a></li>
            <li><a routerLink="/kisisel-verilerin-korunmasi-kanunu">Kişisel Verilerin Korunması</a></li>
            <li><a routerLink="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
            <li><a routerLink="/ki̇si̇sel-veri̇leri̇n-islenmesi̇ne-ili̇ski̇n-aydınlatma-metni̇">Ki̇şi̇sel Veri̇leri̇n
                İşlenmesi̇ne İli̇şki̇n Aydınlatma
                Metni̇</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>