<section class="breadcrumb_area" style="background-image: url('assets/img/breadcrumb/contact-image.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Çerez Politikası</h1>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-0">
        <p>Sizleri web sitemizde kullanılan çerez türleri, çerezlerin kullanım amaçları ve bu çerezlerin ayarları,
          yönetilmesi ve silinmesi hakkında bilgilendirmek isteriz.</p>
        <p>Web sitemizi şahsi herhangi bir bilgi vermeden ziyaret edebilir, ürünlerimiz ve servislerimiz hakkında bilgi
          alarak ihtiyaçlarınızı karşılayabilirsiniz. Ziyaretlerde site kullanımına ilişkin bilgi toplamak için bazı
          çerezler kullanılmaktadır. Buradaki amacımız; web sitemizi ziyaret eden kullanıcıya kolaylık sağlamak ve
          işleyişi daha iyiye taşıyabilmektir.</p>
        <h2>Çerez Nedir?</h2>
        <p>Çerez, bir siteyi ziyaret ettiğinizde tarayıcınız aracılığıyla bilgisayarınıza veya mobil cihazınıza
          kaydedilen küçük boyutlu bir metin dosyasıdır. Çerezler bir sitenin daha verimli çalışmasının yanı sıra
          kişisel ihtiyaçlarınıza daha uygun ve hızlı bir ziyaret deneyimi yaşatmak için kişiselleştirilmiş sayfaların
          sunulabilmesine olanak vermektedir. Çerezler sadece internet ortamındaki ziyaret geçmişinize dair bilgiler
          içermekte olup, bilgisayarınızda veya mobil cihazınızda depolanmış dosyalara dair herhangi bir bilgi
          toplamamaktadır.</p>
        <h2>Çerez Türleri ve Kullanım Amaçları</h2>
        <p>Geçerlilik sürelerine göre Kalıcı Çerez ve Geçici Çerez olarak iki çerez tipi bulunmaktadır. Geçici çerezler
          internet sitesini ziyaret ettiğiniz esnada oluşur ve sadece tarayıcınızı kapatıncaya kadar geçerlidir. Kalıcı
          çerezler ise internet sitesini ziyaret ettiğinizde oluşur ve siz silinceye veya süreleri doluncaya kadar
          kalır. Ayarlarınız ile uyumlu kişiselleştirilmiş bir deneyim sunma gibi işlemler için kalıcı çerezler
          kullanılır.</p>
        <p>Çerez türleri ve kullanım amaçları aşağıda açıklanmaktadır.</p>
        <table class="table2 tac">
          <tbody>
            <tr>
              <td>
                <strong>Zorunlu Çerezler</strong>
              </td>
              <td>Web sitemizin doğru biçimde çalışması için zorunludur. Örneğin, kimlik doğrulama, mevcut oturumunuz
                ile ilgili bilgilerin kaybolmaması gibi amaçlarla zorunlu çerezler kullanılmaktadır. Bu çerezler
                güvenlik ve doğrulama gibi amaçlar için kullanılmakta olup, herhangi bir pazarlama amacı doğrultusunda
                kullanılmaz.</td>
            </tr>
            <tr>
              <td>
                <strong>İşlevsellik İçin Gerekli Olan Çerezler</strong>
              </td>
              <td>Web sitemizi ziyaret eden kullanıcıların tercihlerini hatırlamasına olanak sağlayan çerezlerdir.
                Örneğin ziyaretçinin dil tercihi veya metin font boyu seçiminin hatırlanmasını sağlar. Bu tür çerezlerin
                kullanımına izin verilmemesi size özel bir özelliğin kullanılmamasına neden olabilir ve tercihlerinizi
                hatırlamasını engeller.</td>
            </tr>
            <tr>
              <td>
                <strong>Performans ve Analiz İçin Gerekli Olan Çerezler</strong>
              </td>
              <td>Web sitemizin geliştirilmesine yardımcı olan çerezlerdir. Bu tür çerezler, ziyaretçilerin site
                kullanımları hakkında bilgiler toplar, sitenin gerektiği gibi çalışıp çalışmadığının denetiminde ve
                alınan hataların tespitinde kullanılır. </td>
            </tr>
            <tr>
              <td>
                <strong>Hedefleme ve Reklam Çerezleri</strong>
              </td>
              <td>Bu çerezler web sitemizde veya sitemiz haricindeki mecralarda ürün ve hizmet tanıtımını yapmak, iş
                birliği yaptığımız ortaklarımızla birlikte size ilgili ve kişiselleştirilmiş reklamlar göstermek, reklam
                kampanyalarının etkinliğini ölçmek için kullanılır.</td>
            </tr>
          </tbody>
        </table>
        <h2>Çerezler Nasıl Toplanır?</h2>
        <p>Veriler tarayıcılara eriştiğiniz cihazlarınız aracılığıyla toplanır. Toplanan bu bilgiler cihazlara özeldir. İstenildiği zaman kullanıcı tarafından silinebilmekte ve bilgilere erişim kapatılabilmektedir.</p>
        <h2>Gizlilik Politikamız</h2>
        <p>Gizliliğiniz bizim için önemlidir, gizlilik ve güvenlik haklarınız temel prensibimizdir.</p>
        <p>Bu kapsamda, kişisel verilerin korunmasına dair aydınlatma metnimize buradan ulaşabilirsiniz.</p>
        <h2>Çerezleri Kontrol Etme ve Silme</h2>
        <p>Çerezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da çerezleri engellemek veya silmek için tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Birçok tarayıcı çerezleri kontrol edebilmeniz için size çerezleri kabul etme veya reddetme, yalnızca belirli türdeki çerezleri kabul etme ya da bir web sitesi cihazınıza çerez depolamayı talep ettiğinde tarayıcı tarafından uyarılma seçeneği sunar. Aynı zamanda daha önce tarayıcınıza kaydedilmiş çerezlerin silinmesi de mümkündür. Çerezleri kontrol edilmesine veya silinmesine ilişkin işlemler kullandığınız tarayıcıya göre değişebilmektedir. </p>
        <p>Çerez kullanım seçiminin değiştirilmesine ait yöntem, tarayıcı tipine bağlı olarak değişmekte olup, ilgili hizmet sağlayıcıdan dilendiği zaman öğrenilebilmektedir.</p>
        <p>Bu politikanın en son güncellendiği tarih: 20/02/2021.</p>
      </div>
    </div>
  </div>
</section>
<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="footer_bg" lazy-load-images>
      <div class="footer_bg_one">
        <img [attr.data-src]="'assets/img/seo/car.png'" alt="car">
      </div>
      <div class="footer_bg_two">
        <img [attr.data-src]="'assets/img/seo/bike.png'" alt="bike">
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2021 Tüm hakları saklıdır.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="f_social_icon text-center">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/izmiregitimkurumlari"
              class="fa fa-facebook"></a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/IzmEKurumlari" class="fa fa-twitter"></a>
            <a target="_blank" rel="nofollow" href="https://www.instagram.com/izmiregitimkurumlari_"
              class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 text-right" lazy-load-images>
          <p><a routerLink="/"><img [attr.data-src]="'assets/img/izmir-egitim-kurumlari.png'" alt="logo"
                class="app-logo footer-logo"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-6 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a routerLink="/cerez-politikasi">Çerez Politikası</a></li>
            <li><a routerLink="/kisisel-verilerin-korunmasi-kanunu">Kişisel Verilerin Korunması</a></li>
            <li><a routerLink="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
            <li><a routerLink="/ki̇si̇sel-veri̇leri̇n-islenmesi̇ne-ili̇ski̇n-aydınlatma-metni̇">Ki̇şi̇sel Veri̇leri̇n
                İşlenmesi̇ne İli̇şki̇n Aydınlatma
                Metni̇</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>