<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Kullanıcı Sözleşmesi</h1>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-0">
        <h2>Amacı:</h2>
        <p>Bu sözleşmede Ergün Toprak (bundan sonra izmiregitimkurumlari.com olarak anılacaktır) ile sözleşmeyi okuyup
          kabul linkini tıklayan kişi (bundan sonra Eğitim Kurumu Sahibi olarak anılacaktır) arasında imzalanmıştır.</p>
        <p>Eğitim Kurumu Sahibi bu hizmet sözleşmesini okuyup kabul ettikten sonra bu ürün kullanabilir ve/veya bu
          hizmetten yararlanabilir ve sadece bu anlaşmada geçen maddelerde belirtilmiş haklara sahiptir.</p>
        <p>Önemli! Bu hizmeti ilk defa kullanmadan önce Kullanıcı Sözleşmesinin tamamını dikkatle okuyunuz. Eğitim
          Kurumu Sahibi bu hizmeti ilk kullanımından veya çalıştırmasından itibaren burada geçen anlaşma koşullarından
          haberdar kabul edilir. Bu metni okuduğu, anladığı ve buradaki koşullarla bağlı olduğunu kabul etmiş sayılır.
        </p>
        <h2>Eğitim Kurumu Sahibi'ne ait bilgiler:</h2>
        <p>Eğitim Kurumu tanıtım sayfalarında yer alan bilgiler, fotoğraflar, iletişim ve detay bilgileri tamamen Eğitim
          Kurumu Sahibi sorumluluğundadır. Her Eğitim Kurumu Sahibi sahip olduğu eğitim kurumuna ait bilgilerin
          doğruluğunu ve orjinalliğini baştan kabul eder.</p>
        <h2>Kayıt Şartları:</h2>
        <p>izmiregitimkurumlari.com'a Eğitim Kurumu Sahibi olmanız halinde;</p>
        <ol class="ol2" >
          <li>Kayıt Formunu doldururken şahsınız ve firmanız hakkında doğru, kesin, güncel bilgiler vereceğinizi,</li>
          <li>Üye bilgilerinizi doğru ve güncel tutacağınızı kabul etmiş olursunuz,
            izmiregitimkurumlari.com, bilgilerinizin eksik/yanlış olduğunu tespit ederse kaydınızı düzenleyebilir veya
            silebilir.
          </li>
        </ol>

        <h2>Kullanım Koşulları:</h2>
        <ol class="ol2">
          <li>izmiregitimkurumlari.com site içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir
            hizmeti değiştirme ya da sona erdirme ve kullanıcılarına site hakkında bilgilendirme ve pazarlama
            faaliyetleri için e-posta gönderme hakkına sahiptir.</li>
          <li>izmiregitimkurumlari.com içeriğinde bulunan yazılardan kaynak belirtilmeden alıntı yapılamaz.
            izmiregitimkurumlari.com konuk yazarları verdikleri bilgilerden sorumludur ve izmiregitimkurumlari.com
            yayıncı olarak verilen bilgiyi aynen yayınlamakla yükümlüdür.
          </li>
          <li>izmiregitimkurumlari.com web sitesini kullanırken doğan fonksiyonel bozukluklardan dolayı
            izmiregitimkurumlari.com sorumlu tutulamaz bu kullanıcının kendi riskidir. izmiregitimkurumlari.com
            serverlarından ya da kullanıcılarından size virüs bulaşması, bilgisayarınızda hata oluşması da
            kullanıcıların kullanım riskidir.</li>
          <li>izmiregitimkurumlari.com sitede oluşacak hataların düzeltilip düzeltilmeme hakkını elinde tutar.
            Sitede kullanılan içerik ve fotograflar izmiregitimkurumlari.com'un izni olmadan alınamaz ve kullanılamaz.
          </li>
          <li>izmiregitimkurumlari.com fotoğrafları ve içeriği değiştirme hakkını elinde tutar.
            izmiregitimkurumlari.com internet sayfasında bulunan bilgilerin doğru ve tam olmamasından kaynaklanan
            problemlerden sorumlu değildir.</li>
          <li>izmiregitimkurumlari.com servisleri var olduğu şekilde hizmetinize sunulmaktadır ve hiçbir garantisi
            ya da sorumluluğu yoktur. Hiçbir sayfanın ya da programın ya da appletlerin çalışmamasında
            izmiregitimkurumlari.com sorumlu tutulamaz ve bu konuda sorumluluk beklenemez.</li>
          <li>Eğitim Kurumu Sahibi, Site'ye, kendi adına girilecek tüm bilgilerin doğru olacağını, yanlış,
            yanıltıcı ve eksik bilgi girmeyeceğini, yetkisi dışında bulunan veya yerine getirme gücü olmayan işlemlere
            tevessül etmeyeceğini, bu tür teklifler ve kabullerde bulunmayacağını ve yaptığı işlemde dürüst, iyi niyetli
            ve tedbirli davranacağını, izmiregitimkurumlari.com'un ve diğer kullanıcıların haklarına riayet edeceğini,
            sistemi kullanırken, sistemin işleyişini engelleyici veya zorlaştırıcı şekilde davranmayacağını, kabul ve
            taahhüt eder.</li>

        </ol>
        <h2>Bilgilerin Paylaşımı:</h2>
        <p>Kullanıcı tarafından işbu Sözleşme'ye konu Hizmet'in sağlanabilmesi, bazı bilgilerin izmiregitimkurumlari.com
          ibrazını zorunlu kılmaktadır. Kullanıcı bu bilgileri Hizmet'ten faydalanmak için kendi özgür iradesi ve onayı
          ile girdiğini ve bu bilgilerin işbu Sözleşme ile eki Kişisel Verilerin İşlenmesine Dair Bilgilendirme Ve Onay
          Metni'nde belirtilen şekilde Hizmet'in sunulması için ve/veya ilgili bilgiler alınırken belirtilen amaçların
          gerçekleştirilmesi için gerekli sürelerde kullanılabileceğini, yetkili kişilerin bu bilgilere erişim
          sağlayabileceğini saklanabileceğini ve mevzuatın izin verdiği sınırlar dahilinde üçüncü kişilere ifşa
          edilebileceğini kabul eder.</p>
        <h2>Eğitim Kurumu Sahibi Sorumlulukları:</h2>
        <p>Eğitim Kurumu Sahibi izmiregitimkurumlari.com'da yayınlanan bilgilerinin ve sitenin çeşitli yerlerinde
          tanıtımını yaptıkları ürünlerin, yayınlandıkları mesajların, web sitesinde bulunan bilgilerinin;
        </p>
        <ol class="ol2">
          <li>Sahte, çalıntı olmaması,</li>
          <li>Üçüncü bir tarafın hiçbir tescil, teklif vb. haklarının çiğnenmemesi,</li>
          <li>Yasalara aykırı olmaması(tüketiciyi koruma , haksız rekabet yasası vb.)</li>
          <li>Pornografi veya çıplaklık içermemesi,</li>
          <li>Hiçbir virüs veya herhangi bir programa zarar verecek bir programlama özelliği içermemesi ilkelerini kabul
            etmiş sayılır.</li>
        </ol>
        <h2>izmiregitimkurumlari.com'un Sorumluluğu:</h2>
        <ol class="ol2">
          <li>izmiregitimkurumlari.com; Firma tanıtım sayfalarında yer alan "Bilgi İstek Formları" nı otomatik olarak
            Eğitim Kurumu Sahibi'nin aktif e-posta adreslerine ve firma yönetim panellerine yönlendirmekle yükümlüdür.
          </li>
          <li>Sitedeki taleplerin doğruluğundan, sitede satıldığı-kiralandığı duyurulan malların/hizmetlerin
            kalitesinden, güvenliğinden, yapılan ticari anlaşmada tarafların yükümlülüklerini yerine getirmesinden
            sorumlu değildir. Site kullanıcılar ile Eğitim Kurumu Sahibi arasındaki alışveriş ve her türlü sözleşmeden
            izmiregitimkurumlari.com sorumlu değildir.</li>
          <li>izmiregitimkurumlari.com, Eğitim Kurumu Sahibi site üzerinde gerçekleştirdiği faaliyetler ve/veya
            işbu Sözleşme ve yasaya aykırı eylemleri neticesinde üçüncü kişilerin uğradıkları veya uğrayabilecekleri
            zararlardan doğrudan ve/veya dolaylı olarak hiçbir şekilde sorumlu tutulamaz. Üçüncü kişilerden bu kapsamda
            gelecek her türlü talep ile Kullanıcı'nın Sözleşme'de belirtilen yükümlülüklerini yerine getirmemesinden
            kaynaklanan zararlar Eğitim Kurumu Sahibi'ne rücu edilecektir.</li>
        </ol>
        <h2>Feragat:</h2>
        <ol class="ol2">
          <li>izmiregitimkurumlari.com, işbu sözleşme kapsamında ticari elverişlilik, belli bir amaca veya kullanıma
            uygunluk veya ihlalin söz konusu olmamasına ilişkin olarak açık veya zımni herhangi bir taahhütte
            bulunmamaktadır.</li>
          <li>Kullanıcı, internetten kaynaklanan sorunlar bakımından izmiregitimkurumlari.com'un herhangi bir
            sorumluluğu bulunmadığını, Site'nin işleyişinin kusurdan ari olmadığını ve zaman zaman teknik aksaklıklar
            veya erişim engelleriyle karşılaşabileceğini bildiğini kabul ve beyan eder.</li>
          <li>iii. Kullanıcı, izmiregitimkurumlari.com'un site 'ye virüs, solucan (worm) veya başka türlü saldırıların
            ve izinsiz erişimlerin olmayacağını veya site 'den veya site'ye bilgi aktarılmayacağını garanti etmediğini
            bildiğini kabul etmektedir.</li>
          <li>iv. izmiregitimkurumlari.com, kullanıcının site'ye bağlantısı sırasında veya site'deki içerikler
            dolayısıyla ortaya çıkabilecek doğrudan veya dolaylı maddi veya manevi zararlarından ve maruz kalacağı
            yaptırımlardan hiçbir şekilde sorumlu değildir.</li>
        </ol>
        <h2>Mücbir Sebepler:</h2>
        <p>Mücbir sebep sayılan tüm durumlarda, Site işbu Sözleşme ile belirlenen edimlerinden herhangi birini geç veya
          eksik ifa etme veya ifa etmeme nedeniyle sorumlu tutulamaz. Mücbir sebep; doğal afet, isyan, savaş, grev,
          lokavt, telekomünikasyon altyapısından kaynaklanan arızalar, elektrik kesintisi ve kötü hava koşulları da
          dâhil ve fakat bunlarla sınırlı olmamak kaydıyla ilgili tarafın makul kontrolü haricinde gerçekleşen olaylar
          olarak yorumlanacaktır. Mücbir sebep süresince Taraflar'ın edimleri askıya alınır. Mücbir sebebin 1 (bir)
          aydan uzun sürmesi halinde işbu Sözleşme hakları ifa edilemeyen Tarafça feshedilebilecektir.</p>
        <h2>Yürürlük:</h2>
        <p>İşbu Sözleşme ve Sözleşme'nin ayrılmaz bir parçası olan Kişisel Verilerin İşlenmesine Dair Bilgilendirme Ve
          Onay Metni ile Site içinde bildirilen tüm koşullar Kullanıcı tarafından Sözleşme'nin okunup kabul edilmesi ile
          karşılıklı olarak kabul edilerek yürürlüğe girer.</p>
        <h2>Uyuşmazlıkların Çözümü:</h2>
        <p>Bu Sözleşme ile ilgili olarak çıkabilecek bütün uyuşmazlıklarda öncelikle işbu metinde yer alan hükümler,
          hüküm bulunmayan konularda ise Türkiye Cumhuriyeti Kanunları uygulanacaktır. Sözleşme'nin uygulanmasından
          kaynaklanan ihtilafların çözümünde İzmir (Konak) Mahkemeleri ve İcra Daireleri yetkili olacaktır.</p>
        <h2>Muhtelif Hükümler</h2>
        <p>İşbu Sözleşme'nin herhangi bir hükmünün yetkili bir mahkeme veya kurul tarafından geçersiz veya uygulanamaz
          ilan edilmesi halinde, söz konusu hüküm, Sözleşme'nin amacına yakın geçerli bir hükümle değiştirilecektir.</p>
        <p>izmiregitimkurumlari.com, Site üzerinden kendi kontrolünde olmayan başka web sitelerine bağlantı verebilir.
          Bu web sitelerinde sunulan hizmetler, ürünler ve bunların içeriği hakkında izmiregitimkurumlari.com'un
          herhangi bir taahhüdü ve sorumluluğu bulunmayacaktır.</p>
        <p>izmiregitimkurumlari.com herhangi bir sebep göstermeksizin ve Site'de yayınlamak suretiyle işbu Sözleşme ve
          eki niteliğindeki Kişisel Verilerin İşlenmesine Dair Bilgilendirme Ve Onay Metni ve Site üzerinden yayınladığı
          sair koşulları dilediği zamanda tek taraflı olarak değiştirme, bunlara ilavede bulunma veya yenileme ve
          Site'yi yeniden organize etme, Site'nin ve Hizmet'in konu, kapsam ve içeriğini değiştirme, yayını durdurma
          hakkı saklıdır. izmiregitimkurumlari.com tarafından Sözleşme, Kişisel Verilerin İşlenmesine Dair Bilgilendirme
          Ve Onay Metni ve sair koşullar üzerinde yapılan değişiklikler Site'de yayınlandığı tarihte yürürlüğe girecek
          olup, Site'nin kullanılması ile Kullanıcı güncel koşulları kabul etmiş sayılır. Söz konusu dokümanların
          düzenli bir şekilde takip edilmesinden Kullanıcı bizzat sorumlu olacaktır.</p>
          <h2>Şartların kabulü:</h2>
          <p>Yukarıda belirtilen bilgilendirmeyi okuyarak, bu dokümanın onaylanmasıyla Kullanıcı Sözleşmesine, kişisel verilerinizin Şirketimiz tarafından işlenmesine, yukarıda belirtilen kurumlarla paylaşılmasına ve bu kurumlar tarafından işlenmesine onay vermiş sayılmaktasınız.</p>
          <p>İşbu Sözleşmenin en son güncellendiği tarih: 20/02/2021.</p>
      </div>
    </div>
  </div>
</section>