<section class="login_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="login_info">
          <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Eğitim Kurumu Giriş Yap</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="login-form">
            <div class="form-group text_box">
              <label class="f_p text_c f_400">E-posta</label>
              <input type="text" id="email" formControlName="email"
                [ngClass]="{ 'is-invalid':loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)}"
                placeholder="E-posta">
              <span class="not-valid"
                *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched || submitted ) && loginForm.get('email').errors!=null ? loginForm.get('email').errors.required:false">
                Lütfen e-posta adresi giriniz.
              </span>
              <span class="not-valid"
                *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched || submitted ) && loginForm.get('email').errors!=null ? loginForm.get('email').errors.email:false">
                Lütfen geçerli e-posta adresi giriniz.
              </span>
            </div>
            <div class="form-group text_box">
              <label class="f_p text_c f_400">Şifre</label>
              <input type="password" id="password" formControlName="password"
                [ngClass]="{ 'is-invalid':loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)}"
                placeholder="*******">
              <div class="not-valid"
                *ngIf="(loginForm.get('password').dirty || loginForm.get('password').touched || submitted) && loginForm.get('password').errors!=null ? loginForm.get('password').errors.required:false">
                Lütfen şifrenizi giriniz.
              </div>
            </div>

            <button type="submit" class="btn_three">Giriş</button>
            <span><a routerLink="/sifreyi-unuttum">Şifremi unuttum</a></span>
            <div class="alter-login text-center mt_30">
              Kayıt olmak için lütfen ? <a class="login-link" routerLink="/kayit-ol">Kayıt Ol</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center">
        <div class="login_img">
          <div class="seo_features_img">
            <div class="round_circle"></div>
            <div class="round_circle two"></div>
            <img src="assets/img/seo/features_img.png" alt="İzmir Eğitim Kurumları">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="footer_bg" lazy-load-images>
      <div class="footer_bg_one">
        <img [attr.data-src]="'assets/img/seo/car.png'" alt="car">
      </div>
      <div class="footer_bg_two">
        <img [attr.data-src]="'assets/img/seo/bike.png'" alt="bike">
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2021 Tüm hakları saklıdır.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="f_social_icon text-center">
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/izmiregitimkurumlari"
              class="fa fa-facebook"></a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/IzmEKurumlari" class="fa fa-twitter"></a>
            <a target="_blank" rel="nofollow" href="https://www.instagram.com/izmiregitimkurumlari_"
              class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 text-right" lazy-load-images>
          <p><a routerLink="/"><img [attr.data-src]="'assets/img/izmir-egitim-kurumlari.png'" alt="logo"
                class="app-logo footer-logo"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-6 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a routerLink="/cerez-politikasi">Çerez Politikası</a></li>
            <li><a routerLink="/kisisel-verilerin-korunmasi-kanunu">Kişisel Verilerin Korunması</a></li>
            <li><a routerLink="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
            <li><a routerLink="/ki̇si̇sel-veri̇leri̇n-islenmesi̇ne-ili̇ski̇n-aydınlatma-metni̇">Ki̇şi̇sel Veri̇leri̇n
                İşlenmesi̇ne İli̇şki̇n Aydınlatma
                Metni̇</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>